@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

  .box-center {
    display: block;
    margin: 0 auto;
  }
}


/* Normal desktop :992px. */

@media only screen and (min-width: 992px) and (max-width: 1169px) {


  /* Login */

  .social-login a {

    margin-right: 0;

    padding: 12px 15px;

  }

  .informative .content {
    padding: 20px 10px;
  }

  .informative .content p {
    font-size: 13px;
  }

  .informative .content h3 {
    font-size: 20px;
  }

  /*.dashboard-icon-text{
 position: absolute;
 top: 80px;	
 right: 50px;
}*/
  /*remove 03082023 j*/

  .header-area .top-header>div[class*='col-']:last-child {
    padding-left: 0;
    padding-right: 0;
  }

  /*02062023 new*/

  .flex-row .col1 {
    width: 15%;
  }

  .logo-invoice {
    width: 22%;
  }
}

/* ======================================================== */
/* SHRINKING HEADER ANIMATIONS & STYLES   (DESKTOP ONLY)    */
/* ======================================================== */

@media only screen and (min-width: 992px) {
    .header-area,
    .header-area .logo img,
    .header-area .search,
    .cd-main-header {
        transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1) !important;
    }

    .header-area.header-shrink {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    }

    .header-area.header-shrink .logo img {
      transform: scale(0.65) translateY(12px);
        padding-top:0px;
        transform-origin: center top;
        margin-bottom: 0;
    }

    .header-area.header-shrink .search {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-15px) scale(0.95);
        pointer-events: none;
        position: absolute;
        right: 15px;
        height: 0;
        margin: 0;
        overflow: hidden;
    }

    .header-area.header-shrink .cd-main-header {
        margin-top: 0px !important;
    }

    .header-area.header-shrink .cd-primary-nav {
        margin-bottom: 0 !important;
    }

    .kill-transitions,
    .kill-transitions * {
        transition: none !important;
    }
}

/* ======================================================== */
/* SHRINKING HEADER ANIMATIONS & STYLES  - END              */
/* ======================================================== */

@media only screen and (min-width: 991px) {
    .cd-primary-nav .cd-secondary-nav li.has-children > a,
    .cd-primary-nav .cd-secondary-nav li > a.text-uppercase {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding-bottom: 12px;
        margin-bottom: 10px;
        border: none;
        vertical-align: top;
    }

    .cd-primary-nav .cd-secondary-nav li.has-children > a::after,
    .cd-primary-nav .cd-secondary-nav li > a.text-uppercase::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 45px;
        height: 4px;
        margin-top: 12px;
        background-color: var(--main-color);
        border-radius: 10px;
        transform: none;
        line-height: 0;
        display: block;
    }
}


/* Tablet desktop :768px. */
@media only screen and (max-width: 991px) {

  /* 17102025 */
  .our-story-res {
    order: -1 !important;
  }
  
  #pageBanner {
    height: 160px;
  }

  /*16052023 new*/

  /*new code 270821*/
  .owl-nav {
    display: block;
    margin-top: 0px;
    top: 0px;
    /*10052023*/
  }

  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(40%);
  }

  .owl-nav .owl-prev {
    left: -20px;
    top: 90px;
  }

  .owl-nav .owl-next {
    right: -20px;
    top: 90px;
  }

  .partner .owl-carousel .owl-nav .owl-next,
  .partner .owl-carousel .owl-nav .owl-prev {
    top: 150px;
  }

  /*member page pop up*/
  .modal-member-content {
    width: 100%;
  }

  .modal-member {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding: 150px 15px 0px 15px;
    /*  Location of the box */
    left: 0;
    top: 8%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
  }

  /*END member page pop up*/

  /*

.info, .socials {

  overflow: hidden;

  text-align: center;

}

.phn-num, .mail-id {

  display: inline-block;

  float: none;

}

.socials a {

  margin: 0 10px;

}

#top-menu {

  float: none;

  margin-top: 15px;

  text-align: center;

}

.slide-text {
  float: none;
  margin: 0 auto;

}

.middle-text {
  position: static;
  vertical-align: middle;
}

.cap-title h1, .home-3-slider .cap-title h1 {

  font-size: 30px;

}

.cap-dec h2, .home-3-slider .cap-dec h2 {

  font-size: 25px;

}

.cap-readmore a, .home-3-slider .cap-readmore a {

  font-size: 13px;
  background: rgba(0,0,0,0.4);
  border: 1px solid white;

}

.sin-banner a .wrap {

  width: 100%;

}

.sin-banner a .wrap h2 {

  font-size: 34px;

}

.banner-text {

  padding: 10px;

}

.banner-text h1 {

  font-size: 30px;

  line-height: 30px;

  margin-bottom: 10px;

  margin-top: 30px;

}

.banner-text h2 {

  font-size: 20px;

}

.banner-text h2 span {

  font-size: 26px;

  margin-bottom: 10px;

}

.banner-text p {

  display: none;

}

.banner-text a {

  font-size: 13px;

  padding: 9px 12px;

}

.main-menu-2-pre {

  padding-right: 15px;

}

.home-3-slider {

  padding-left: 15px;

}

.trendy-product {

  margin-bottom: 30px;

}*/

  /* Shop */

  .pagination {

    margin-bottom: 20px;

  }

  .select-menu .sort {

    margin-right: 15px;

  }

  /* Cart */

  /*.cart-plus-minus .qtybutton {

  width: 28px;

}*/

  /* Checkout */

  .checkout-right {

    margin-top: 30px;

  }

  /* Login */

  .social-login a {

    font-size: 12px;

    margin-right: 0;

    padding: 12px;

  }


  .content-uni {

    text-align: center;

  }


  .btn-default-mobile {

    padding: 10px 15px;

    background-color: #54b847;

    margin: 7px 0px;

    color: #fff;

    font-size: 1em;

    font-weight: bold;

    border: none;

    letter-spacing: 1px;

  }

  .btn-default-mobile:hover {

    background-color: #3e9d31;

    color: #fff;

  }

  .payment ul li {

    margin: 0 0 0 2px;

  }

  .payment ul li a img {

    width: 42px;

  }

  .hidden-on-mobile {

    display: none;

  }

  .bwizard-steps {

    margin-left: 0;

  }

  .pg-small .section {

    padding: 20px 0;

  }

  .shopper-benefits {

    width: auto;

    margin-top: 100px;

  }


  .about-uni .content-uni {

    margin-top: 20px;

  }


  .about-us .content {

    margin-top: 40px;

    /*  color: #fff;*/

    text-align: center;

  }

  .info-listing li {
    width: 40%;
  }

  .page-title {
    /*  height: 250px;*/
    height: 200px;
  }

  .pg-small {
    height: auto;
  }

  .page-title img {
    width: auto;
    max-width: none;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
  }

  .hide-on-mobile {
    display: none;
  }

  /*
.healthy-info-4 .content {
  margin-top: 20px;
}
.health-info-5 .content-2 {
  margin-top: 10px;
  padding:20px;
  text-align:center;
}
*/

  .informative .content {
    padding: 20px 10px;
  }

  .informative .content p {
    font-size: 13px;
  }

  .informative .content h3 {
    font-size: 20px;
  }

  /*.shop-details h5, .shop-details .pro-ratting, .review-btn {
  float: left;
  text-align: left;
}*/
  .prod-tab-content {
    margin: 20px 0;
  }

  .nivo-caption {
    background: rgba(0, 0, 0, 0.3);
  }

  /*.dashboard-icon-text{
 position: absolute;
 top: 60px;	
 left: -5px;
}*/
  /*remove 03082023 j*/

  .overlay {
    margin-bottom: 20px;
  }

  .img-text::before,
  .img-text::after {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }

  /*new 09122022 under (max-width: 991px)*/
  .title-brushstroke-bg {
    background-size: 100%;
  }

  .title-brushstroke-bg h1 {
    font-size: 30px;
  }

  .m-t-30-sm {
    margin-top: 30px;
  }

  .sm-h1 {
    font-size: 30px;
  }

  /*h1.extra-large {
	font-size: 55px;
}*/
  /*21122022 */
  /*h3.extra-large {
	font-size: 36px;
}*/
  /*21122022 */
  /*.dis-flex	{
	display: block;
	}*/
  /*21122022 remove*/
  .vitaminc-middle {
    position: inherit;
    bottom: 0;
  }

  /*21122022 new*/
  .padding-extra-md {
    padding: 15px;
  }

  /*21122022 new*/

  .dis-flex {
    flex-wrap: wrap;
  }

  .dis-flex-only {
    flex-wrap: wrap;
  }

  /*end 09122022 under (max-width: 991px)*/

  .top-header {
    display: none !important;
  }

  /* 17102025 */
  .header-area {
    padding: 0;
    height: 90px;
    border-top: 2px solid #fff;
    background: #fff;/* 17102025 */
  }

  .cd-main-header {
    margin-top: 0;
    height: 100%;
    display: flex;
    align-items: center;

  }

  .cd-main-header.nav-is-visible {
    border-bottom: 4px solid #519dbf;
  }

  .cd-primary-nav a,
  .cd-primary-nav ul a {
    line-height: 40px;
    text-transform: uppercase;
  }

  .cd-primary-nav .color-gray a,
  .cd-primary-nav ul .color-gray a {
    color: #808080 !important;
  }

  .cd-primary-nav .color-gray a::before,
  .cd-primary-nav ul .color-gray a::before,
  .cd-primary-nav .color-gray a::after,
  .cd-primary-nav ul .color-gray a::after {
    background: #808080 !important;
  }

  body.nav-on-left.overflow-hidden {
    overflow: hidden;
  }

  /*.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }*/
  .nav-on-left .cd-main-content.nav-is-visible,
  .nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }

  .cd-logo {
    display: block;
    margin: auto;
    position: inherit;
    top: 0;
  }

  .nav-on-left .cd-logo {
    left: auto;
    right: 5%;
  }

  .cd-header-buttons {
    left: 5%;
    width: fit-content;
  }

  .nav-on-left .cd-header-buttons {
    right: auto;
    right: 5%;
  }

  .nav-on-left .cd-header-buttons li {
    float: right;
  }

  .nav-on-left .cd-primary-nav,
  .nav-on-left .cd-primary-nav ul {
    right: auto;
    left: 0;
  }

  .cd-primary-nav {
    /* by default .cd-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: ease-in-out 0.1s 0.2s;
    -moz-transition: ease-in-out 0.1s 0.2s;
    transition: ease-in-out 0.1s 0.2s;
    left: -100px;
  }

  .cd-primary-nav.nav-is-visible {
    visibility: visible;
    -webkit-transition: ease-in-out 0.1s 0s;
    -moz-transition: ease-in-out 0.1s 0s;
    transition: ease-in-out 0.1s 0s;
    z-index: 3;
    left: 0px;

  }

/*  .cd-primary-nav {*/
/*    top: 135px;*/
/*  }*/

  .cd-overlay {
    display: none;
  }

  /*.cd-overlay.is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .nav-on-left .cd-overlay.is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
  .cd-overlay.is-visible.search-is-visible, .nav-on-left .cd-overlay.is-visible.search-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }*/

  .search {
    float: none !important;
    margin: 20px auto;
    max-width: inherit;
  }

  .search input {
    float: none !important;
    margin: auto;
    /*background:#fff;
	color: #000;*/
  }

  .search input::placeholder,
  .search>.submit {
    color: #bbb;
  }

  .footer-top {
    display: inherit;
  }

  .footer-top>div {
    margin-top: 30px;
  }

  .footer-top>div:first-child {
    margin-top: 0px;
  }

  .payment-method {
    position: inherit;
    /*margin-top: 30px;*/
    /*082023 j*/
  }

  /*#indexBanner1 {
	height: 230px
}	
#indexBanner2 {
	height: 300px
}*/
  /*10052023 remove*/

  /*.icon-hyperlink	> div:last-child{
	display: flex;
	flex-wrap: wrap;
}*/
  /*10052023 remove*/
  .icon-hyperlink img {
    width: 90%;
    height: 90%;
  }

  .icon-hyperlink a p {
    font-size: 12px;
  }

  .mobile-header-cart {
    display: block;
  }

  .flex-middle-md {
    display: block;
  }

  /*11042023 new*/
  .content-title {
    margin-top: 30px;
  }

  .shop-details {
    padding: 0;
    padding-top: 30px;
  }

  .shop-details.i-popup {
    padding: 0px;
  }

  .quantity {
    text-align: left;
  }

  .featuredPostSlider,
  #slick-pager {
    width: 100% !important;
    float: none !important;
  }

  #slick-pager {
    position: relative;
  }

  .slick-pager {
    width: 100%;
  }

  .pagerNavigationBottom {
    /*text-align: right;
	bottom: 30px;*/
    text-align: right;
    bottom: 20px;
    right: -15px;
    left: auto;
    padding-top: 0;
    height: auto;
  }

  .pagerNavigationBottom i,
  .pagerNavigationTop i {
    transform: rotate(-90deg);
    float: none;
    width: fit-content;

  }

  .pagerNavigationTop {
    text-align: left;
    bottom: 20px;
    right: auto;
    left: -15px;
    position: absolute;
  }

  .nav-tabs {
    margin-top: 20px;
  }

  /*.product-nav {
	overflow-y: scroll;
	margin-top: 30px;
}	
.description .tab-content{
	padding: 10px 0;
}	
.product-nav > li {
	display: table-cell;
	min-width: 130px;
}	*/
  #tips table tr td {
    display: block;
    margin-top: 30px;
  }

  #tips table tr td img {
    width: 70%;
    margin: auto;
  }

  .treatment-description div.row {
    display: inherit;
  }

  .treatment-all #left40 {
    margin-left: 0px;
  }

  .overlay-box>div {
    min-height: 200px;
  }

  .border-motion {
    left: 20%;
  }

  .page-wrapper.toggled .sidebar-wrapper {
    z-index: 1;
  }

  /* side bar*/
  .dashboard-wallet-balance li {
    float: none;
    margin: auto;
    display: auto;
  }

  /* side bar*/

  /* new code 08082023 start Hailey */
  /* shoppong cart */

  .mobile-container {
    padding: 0px;
  }

  .flex-table {
    flex-wrap: wrap;
  }

  .ct {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .ct .form-check-input {
    margin-right: 10px;
  }

  .total-cart,
  .m_remove {
    margin-top: 15px;
    margin-bottom: 5px;
  }


  /* new code 08082023 end */

  .continue-shop input,
  .cart-btn input {
    font-size: 13px;
    padding: 10px 5px;
  }


  .select-btn.searchby .btn {
    height: 70px;
    padding: 10px 5px;
    width: 100%;
    margin-right: 10px;
  }

  .accordion-wrap {
    padding: 0px;
  }

  .panel2 {
    padding: 0px;
  }

  .flex-row .w-30 {
    width: 30%;
  }

  .flex-row .w-70 {
    width: 70%;
  }

  .process-line {
    width: 70%;
    margin: 0 10px;
  }

  .flex-row.m-flex {
    flex-wrap: wrap;
  }

  .rating-star {
    width: 100%;
  }

  .rating-col {
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 10px 10px 0px;
  }

  .flex-row .col1 {
    width: 20%;
  }

  .logo-invoice {
    width: 30%;
  }

  .cd-logo img {
    width: 15%;
  }
  .cd-primary-nav,
  .cd-primary-nav ul,
  .cd-secondary-nav {
    -webkit-overflow-scrolling: touch;
  }

  .cd-primary-nav::-webkit-scrollbar,
  .cd-primary-nav ul::-webkit-scrollbar,
  .cd-secondary-nav::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
  }

  .cd-primary-nav,
  .cd-primary-nav ul,
  .cd-secondary-nav {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}

/*end 991*/



/* Large Mobile :767px- mobile phoen horizontal */
@media only screen and (max-width: 767px) {

  /* 09102025 */

  .image-hover img {
    min-height: 200px;

  }

  .overlay-text {
    width: 100%;
  }

  .overlay-text p {
    font-size: 10px;

  }

  /* 17102025 start*/
  .overlay-text-about {
    width: 100%;

  }

  .overlay-text-about p {
    font-size: 10px;
    
  }


  /* 17102025 end*/

  /* 09102025 */

  .menu-logo {
    width: 150px;
  }

  .responsiveBanner {
    height: 250px;
  }

  .modal-lg {
    width: 90%;
  }

  .prod-tab-content {
    margin: 20px 0;
  }

  .healthy-info-4 .content {
    margin-top: 20px;
  }

  .health-info-5 .content-2 {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
  }

  .container {

    /*  width: 450px;*/
    width: 96%;

  }

  /*.owl-nav 
{	
  display: block;
  margin-top: 0px; 
  top:-350px;
}*/

  .cart-info {

    float: none;

    margin-top: 20px;

  }

  .cart-hover {

    width: 100%;

  }

  .header-cart-pro .content {

    text-align: left;

  }

  .tabs-list>li>a {

    font-size: 14px;

    padding: 3px 10px;

  }

  .copy-right {

    text-align: center;

    margin-bottom: 15px;

  }

  .payment {

    text-align: center;

  }

  /* Shop Page */

  .pagination {

    margin-bottom: 20px;

    width: 100% !important;

  }

  .pagination ul li {

    margin: 0 5px 10px;

  }

  .shop-products>div {
    margin-top: 20px;
  }

  .shop-product-area .border-left {

    border: none;

  }

  .list-pro-image {

    float: none;

    margin: 0 0 15px;

    padding: 0 15px;

    width: 100%;

  }

  .list-pro-image a img {

    width: 100%;

  }

  .list-pro-des {

    padding: 0 15px;

  }

  .details-pro-tab-list.tabs-list>li>a {

    padding: 0;

  }

  .product-nav>li>a {

    padding: 10px;

  }

  /* Cart */

  /*.cart-plus-minus .qtybutton {

  width: 26px;

}*/

  .proceed {

    text-align: left;

  }

  .proceed a {

    margin-left: 0;

    margin-right: 10px;

  }

  .total {

    float: left;

    padding: 0px;

    text-align: right;

    width: 100%;

  }

  .total h5 {

    font-size: 13px;

    margin-bottom: 0;

  }

  .total h4 {

    font-size: 13px;

  }

  .total p {

    font-size: 13px;

  }

  .total-p {

    margin: 10px 0px;

  }

  #procedto {

    float: left;

  }

  /* Checkout */

  .checkout-right {

    margin-top: 30px;

  }

  .checkout-method.checkout-reg {

    margin-bottom: 20px;

  }

  .bill-info .group input {

    margin-right: 0;

    width: 100% !important;

  }

  .payment-met p {

    float: none;

  }

  .information {

    margin-bottom: 20px;

  }

  /* Contact */

  .contact-form input:last-child {

    margin-bottom: 7px;

  }

  /* Login */

  .login {

    margin-bottom: 30px;

  }

  /* Service */

  .sin-shop-sidebar.serrvice-add {

    margin-bottom: 0;

    margin-top: 30px;

  }

  .content-uni {

    text-align: center;

  }

  .btn-default-mobile {

    padding: 10px 15px;

    background-color: #54b847;

    margin: 7px 0px;

    color: #fff;

    font-size: 1em;

    font-weight: bold;

    border: none;

    letter-spacing: 1px;



  }

  .btn-default-mobile:hover {

    background-color: #3e9d31;

    color: #fff;

  }

  .payment ul li {

    margin: 0 0 0 2px;

  }

  .payment ul li a img {

    width: 42px;

  }

  .about-uni p,
  .content-uni p {

    font-size: 1.1em;

  }

  .cta-area {

    text-align: center;

  }

  .btn-default {

    white-space: normal;

  }

  .testimonial-item .content {

    text-align: center;

  }

  .testimonial-item .content h3 {

    margin-top: 30px;

  }

  .hidden-on-mobile {

    display: none !important;

  }

  table.cart-data-table {

    border: 0;

  }

  table.cart-data-table caption {

    font-size: 1.3em;

  }

  table.cart-data-table thead {

    border: none;

    clip: rect(0 0 0 0);

    height: 1px;

    margin: -1px;

    overflow: hidden;

    padding: 0;

    position: absolute;

    width: 1px;

  }

  table.cart-data-table tr {

    border-bottom: 3px solid #ddd;

    display: block;

    margin-bottom: .625em;

  }

  table.cart-data-table td {

    border-bottom: 1px solid #ddd;

    display: block;

    font-size: .8em;

    text-align: right;

  }

  table.cart-data-table td:before {

    /*

    * aria-label has no advantage, it won't be read inside a table

    content: attr(aria-label);

    */

    content: attr(data-label);

    float: left;

    font-weight: bold;

    text-transform: uppercase;

  }

  table.cart-data-table td:last-child {

    border-bottom: 0;

  }

  table.cart-data-table img {

    width: 100px;

  }

  .bwizard-steps {

    background: transparent;

    margin-left: 0;

    width: 100%;

    margin-top: 20px;

  }

  .payment-met .col-sm-4 {

    border-right: 0;

    border-bottom: 1px solid #eee;

  }

  .simpleLens-lens-element {

    display: none;

  }

  .page-title h2 {

    font-size: 30px;

  }

  .pg-small .section {

    padding: 20px 0;

  }

  .about-us {

    height: auto;

  }

  /*.founder-1, .founder-2 {

  width: 100%;

  margin-top: 0;

  float: none;

  text-align: center;

}

.founder-1-intro {

  background:rgba(255,255,255,0.6);

}

.founder-2-intro {

  background:rgba(255,255,255,0.6);

  float: left;

  left: 10%;

  right: 35%;

  width: 80%;

  text-align: left;

  top: 60%;

}

.shopper-benefits {

  width: 300px;

  float: none;

  margin:0 auto;

  margin-top: 150px;

  }

  .shopper-bar {

    height: 700px;

  }*/


  /*
  .content-uni h2, .content-uni p {

    text-align: center;

  }
*/

  /*
  .about-uni .content-uni {

    margin-top: 20px;

  }

  .about-us .content {

    margin-top:40px;

    color: #fff;

    text-align: center;

  }

  .bg-50-half {

    width: 100%;

    height: 40%;

  }*/

  .contact-form {

    padding-left: 0px;
    padding-right: 0px;

  }

  .contact-form label {
    margin-top: 15px;
  }

  /*.founder-1-intro, .founder-2-intro {

  position: inherit;

  bottom: 0;

  right: 0;

  left: 0;

  text-align: center;

  width: 100%



}*/

  .title {

    margin: 20px 0;

    padding: 0;

  }

  /*.one-man h1, .one-man h2 {

  font-size: 5em;

  margin-top: 0;

  text-align: center;

}*/

  /*.legacy h1, .legacy h2 {

  font-size: 3.5em;

  margin-top: 0;

  text-align: center;

}

.legacy-content .quote {

  width: 100%;

  margin-left: 0

}*/

  .header-top {

    background: #465560;

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    z-index: 9;
  }

  /*.page-title {
  height: 150px;
}*/

  .pg-small {
    height: auto;
  }

  .section {
    padding: 40px 0px;
  }

  /*10052023 new*/
  .page-title img {
    width: auto;
    max-width: none;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
  }

  /*.hairbody-info-1 {
  background: url(../img/hairbody-bg.png) no-repeat;
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
}

.healthy-info-2 {
  height: auto;
}*/

  .info-listing li {
    width: 40%;
  }

  .hide-on-mobile {
    display: none;
  }

  /*.shop-details h5, .shop-details .pro-ratting, .review-btn {
  float: left;
  text-align: left;
}*/

  .dis-flex {
    display: block;
  }

  /*21122022 new under (max-width:767px)*/
  .dis-flex-only {
    display: block;
  }

  /*21122022 new  under (max-width:767px)*/

  /*.icon-hyperlink > div:last-child > div{
	margin-top: 30px;
}*/
  /*10052023 remove*/
  .img-hyperlink>div {
    margin-top: 30px;
  }

  /*10052023 new*/
  .img-hyperlink>div:first-child {
    margin-top: 0px;
  }

  /*10052023 new*/
  .icon-hyperlink>div:last-child>div:first-child,
  .icon-hyperlink>div:last-child>div:nth-child(2) {
    margin-top: 0px;
  }

  .name-describe {
    height: 130px;
  }

  /*
.name-describe a {
	 -webkit-line-clamp: 3;
}	
*/
  .name-describe span.pro-name,
  .pro-price p .new {
    font-size: 15px;
  }

  .name-describe span.pro-describe {
    display: none;
  }

  .flex-middle-sm {
    display: block;
  }

  /*11042023 new*/
  .embed-responsive-16by9 {
    padding-bottom: 60%;
  }

  .icon-hyperlink>div:last-child,
  .icon-hyperlink>div:nth-last-child(2) {
    margin-top: 30px;
  }

  .page-wrapper.toggled .sidebar-wrapper {
    position: inherit;
    float: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  /*side bar*/
  .page-wrapper .page-content>div {
    padding: 15px;
  }

  /*side bar*/
  #show-sidebar {
    position: fixed;
    z-index: 99999;
  }

  /*side bar*/
  .dashboard-wallet-balance li {
    width: 100%;
    margin: auto;
  }

  /*side bar*/

  /* new code 08082023 start Hailey */
  /* shoppong cart */

  .mobile-container {
    padding: 0px;
  }

  .flex-table {
    flex-wrap: wrap;
  }

  .ct {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .ct .form-check-input {
    margin-right: 10px;
  }

  .total-cart,
  .m_remove {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .b-shadow {
    padding: 10px;
  }

  .flex-row.mobile-add {
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-row.mobile-add .add-info {
    padding-right: 0px;
  }

  select:not([multiple]).s_padding {
    margin-right: 5px;
  }

  .select-btn.searchby .btn {
    height: 70px;
    padding: 10px 5px;
    width: 100%;
    margin-right: 10px;
  }

  .select-btn.searchby .btn:last-child {
    margin-right: 0px;
  }

  .wallet-bg,
  .container-e,
  .card {
    width: 100%;
  }

  .flex-row .col1 {
    width: 40%;
    margin-right: 0;
  }

  .highlight-text {
    font-size: 14px;
  }

  .table-ref .tbl-row .tbl-cel {
    width: 100%;
    display: block;
  }

  /* new code 08082023 end */

  .default-tab-content {
    padding: 10px;
  }

  .rating-col {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .nav-pills .nav-link.rating-flex {
    padding: 10px 15px;
  }

  .mt-width {
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table.p-table {
    overflow-x: scroll;
    width: 1000px;
    margin-bottom: 0;
    max-width: none;
  }

  .cd-logo img {
    width: 25%;
  }

  .input-group.tel {
    display: inline;
  }

  .input-group-text.tel-regis {
    width: 100%
  }
}


/* small mobile :760px. */
@media only screen and (max-width: 760px) {

  .prod-tabs .tabbable-line>.nav-tabs>li {
    width: auto;
  }

  .prod-tabs .tabbable-line>.nav-tabs>li>a>img {
    top: -30px;
  }

  .prod-tab-whitening-content h5 {
    margin-top: 10px;
  }

  .prod-tab-whitening-content p {
    margin: 5px 0 30px 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .width-half,
  .width-7 {
    width: 100%;
  }

}



/* small mobile :320px. */

@media only screen and (max-width: 480px) {

  /*.bannerDekstop {
	display: none;
} 
.bannerMobile {
	display: block;
}*/

  /* 09102025 start */
  .purchase-for {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .purchase-for .search {
    margin: 0px;
  }

  /* 09102025 end*/

  #loginmodal .modal-dialog {
    width: 90%;
  }

  .border-left {
    border-left: solid #e5e5e5 0px;
  }

  #member-club-info {
    width: 100%;
    padding: 20px 15px;
  }


  .process-mobile {
    padding: 0px;
  }

  .container.container-top-menu-mobile {
    padding: 0px;
  }

  /*testing1*/
  .process-title {
    margin-top: 20px;
    text-align: left;
    /*
  float: left;
  margin-left: 0px;	
*/
  }

  .process-title h6 {
    font-size: 12px;
    text-align: center;
  }

  .process-container-mobile {
    left: 20px;
  }

  .process-line {
    margin: 0px 10px;
    width: 100%;
  }

  /*.owl-nav 
{	
	display: block;
	margin-top: 0px; 
	top:-320px;
}	*/

  .grid figure h2 {
    word-spacing: -0.15em;
    font-weight: bold;
    font-size: 15px;

  }

  .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    /*  margin: 0;*/
    max-height: auto;
    width: 94%;
    margin: 2%;
    text-align: center;
    cursor: pointer;
  }



  /*pop up memberpage*/
  .modal-member-content {
    width: 100%;
  }

  .modal-member {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding: 150px 15px 0px 15px;
    /*  Location of the box */
    left: 0;
    top: 15%;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
  }

  /*end pop up member page*/

  /*testing today*/
  .carousel-inner>.item>img,
  .carousel-inner>.item>a>img {
    width: 100%;
    /*    min-height: 200px;*/
    min-height: 250px;
  }


  /*.container{
	width: 350px;
}*/


  /* Home 1 */

  .header-button-price .total-price {

    float: left;

  }

  /*.nivo-caption {

  display: none !important;

}
*/

  .section-title h2 {

    font-size: 16px;

  }

  .section-title {
    font-size: 20px;
    margin-bottom: 35px;

  }

  /*10052023 new*/

  .sin-banner a .wrap {

    width: 100%;

  }

  .magic-area .content h2 {

    font-size: 26px;

  }

  .magic-area .content h3 {

    font-size: 24px;

  }

  .testimonial-item .image {

    display: block;

    float: none;

    margin: 0 auto;

  }

  .footer-newslater form input[type="email"] {

    width: 170px;

  }

  /* Shop Page */

  .pro-Showing {

    float: left;

  }

  .list-pro-image {

    padding: 0;

  }

  .list-pro-des {

    padding: 0;

  }

  .select-menu .sort {

    margin-bottom: 10px;

  }

  /* About Page */

  .designer {

    padding: 0;

  }

  .designer-text {

    top: 78%;

  }

  /* Service */

  .services-details img {

    float: none;

    margin-bottom: 15px;

    margin-right: 0;

    width: 100%;

  }



  .payment {

    display: none;

  }



  .terms-conditions {

    text-align: center;

  }



  .terms-conditions li a {

    font-size: 10px;

  }



  /* badges only on small screens */

  .bwizard-steps li:after,

  .bwizard-steps li:before {
    border: none
  }

  .bwizard-steps li,

  .bwizard-steps li.active,

  .bwizard-steps li:first-child,

  .bwizard-steps li:last-child {
    margin: 5px 0px;

    padding: 7px 0px;

    /*background-color: transparent*/
  }

  .bwizard-steps li {
    width: 100%;
    display: block;
  }



  .bwizard-steps li:first-child,
  .bwizard-steps li:last-child {
    border-radius: 0;
  }



  .process-indicator {
    margin: 20px 0px 0px;
    width: 100%
  }

  .process-indicator .rounded-no {
    width: 50px;
    height: 50px;
    /*  float:left;*/

  }

  /*testing02*/

  .process-title {
    margin: 10px 0px 0px;
    text-align: center;
    /*    float: left;*/
  }


  /*
.process-title {
  margin-top: 20px;
  text-align: left;
  float: left;
  margin-left: 15px;
}
*/


  .final-total h4 span,
  .final-total h5 span {

    margin-left: 50px;

  }

  .dashboard-wallet-balance li {

    width: 100%;

    text-align: left;

  }



  .dashboard-link h5 {

    margin: 10px 0;

  }



  .dashboard-content li {

    width: 43%;

    margin: 5px 5px;

    height: 120px;

  }



  .page-title h2 {

    font-size: 30px;

  }



  .founder-1-intro,
  .founder-2-intro {

    position: inherit;

    bottom: 0;

    right: 0;

  }



  #popup-container {

    width: 300px;

    height: 380px;

  }



  .shopper-benefits {

    margin-top: 30px;
    width: auto;
  }


  .img-big {
    height: 140px;
    background: #fff;
  }

  .img-big img {

    max-width: 250% !important;
    margin-left: auto;
    /*  margin-right:auto;*/
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
  }

  .shopper-bar {

    background-size: auto;

    background-position: top right;

  }

  .referral-bar {

    background-size: auto;

    background-position: top left;

  }



  .about-us .content p {

    font-size: 14px;

  }



  .nivoSlider img {

    left: -330px;

    width: 200% !important;

  }



  .dashboard-content li h6 {

    font-size: 11px
  }

  .link-icon img {

    width: 30px
  }

  .m-img {

    width: 200px;

  }

  #popup-container .m-content h1,
  #popup-container .m-content p {

    font-size: 15px;

  }

  .contact-page-2 .contact-info {

    padding-right: 0;

  }

  /*
  .modal-dialog {

    margin:30px auto;

  }
*/

  .cart-popup-msg {

    width: 90%;

    margin: 0 auto;

  }

  .info-listing li {
    width: 100%;
  }

  .healthy-info-2 {
    background-image: none;
  }

  .show-on-mobile {
    display: block;
  }

  .informative .content {
    padding: 20px 10px;
  }

  .fc-event,
  .fc-event-dot {
    background: transparent;
    color: #54b847;
  }

  .fc-event {
    box-shadow: none;
  }

  .prod-benefits,
  .health-info-5 .info-title {
    text-align: center;
  }

  .healthy-info-7 .content,
  .healthy-info-6 .content,
  .healthy-info-4 .content,
  .healthy-info-3 .content,
  .healthy-info-2 .content,
  .babycare-1 .content {
    margin-top: 0;
    padding: 15px;
    text-align: center;
  }

  .fc-title:before {
    color: var(--main-color);
  }

  .table-info td h2 {
    padding-left: 40px;
  }

  #popup-container-home.pop-style-2 {
    width: 300px;
    height: 400px;
  }

  #popup-container-home.pop-style-2 .m-content {
    margin-top: 15px;
  }

  .lib-icon {
    padding: 100px 0;
  }

  #table-normal td,
  #table-normal th {
    padding: 10px;
  }

  .bsi-banner {
    background: url("../img/bsi-banner-mobile.jpg");
    background-size: cover;
  }

  .banner-content {
    padding: 30px 0;
    margin-top: 300px;
  }

  .section2 {
    padding: 0px 0;
  }


  .info,
  .socials {
    padding: 20px 0px;
  }


  /* New Code Start Hailey*/

  #add-updateModal .modal-dialog {
    margin: 10px auto;
  }

  .mobile-order img {
    width: 10%;
  }

  /* New Code End Hailey*/

}


@media only screen and (max-width: 350px) {
  /*.container{
width: 300px;
}*/
}

@media only screen and (max-width: 911px) {


  .overlay {
    margin-bottom: 20px;
  }
}


/*printing*/
@media print {

  #scrollUp {
    display: none;
  }


  .noprint {
    display: none !important;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666666666666%;
  }

  .col-sm-10 {
    width: 83.33333333333334%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666666666666%;
  }

  .col-sm-7 {
    width: 58.333333333333336%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666666666667%;
  }

  .col-sm-4 {
    width: 33.33333333333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.666666666666664%;
  }

  .col-sm-1 {
    width: 8.333333333333332%;
  }
}


/*ipad horizontal*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /*new code 160322*/

  .bg-member-banner {
    position: relative;
    width: 100%;
    height: 1430px;
    background: #ebebeb;
  }

  .bg-member-banner-text {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }

  /*new code 270821*/
  /*.owl-nav {
    display: block;
    margin-top: 0px;
    top: -320px;
}*/

  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    /*
  position: absolute;
  top: 50% ;
  transform: translateY(40%);
*/
  }

  /*.owl-nav .owl-prev 
{
  left: 0;
  top: 0;
}

.owl-nav .owl-next 
{
  right: 0;
  top: 0;
}*/


  .menu-logo {
    width: 20%;
    height: auto;
  }
}


/* Portrait and Landscape */
@media only screen and (min-device-width: 1280px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  /*new code 160322*/

  .bg-member-banner {
    position: relative;
    width: 100%;
    height: 1400px !important;
    top: 0;
    background: #ebebeb;
  }

}

/*200322*/
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #loginmodal .modal-dialog {
    width: 80%;
  }

  .bg-member-banner {
    position: relative;
    width: 100%;
    height: 1350px;
    background: #ebebeb;
  }

  #invite-step {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 20px;
    border-radius: 20px;
    background: #ffffff;
    max-height: 580px;
    height: 580px;
  }

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

  #loginmodal .modal-dialog {
    width: 80%;
  }

  .bg-member-banner {
    position: relative;
    width: 100%;
    height: 1500px;
    background: #ebebeb;
  }

  #invite-step {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 20px;
    border-radius: 20px;
    background: #ffffff;
    max-height: 580px;
    height: 580px;
  }
}

/*end Landscape*/


/* ----------- iPad Pro 12.9" ----------- */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #loginmodal .modal-dialog {
    width: 80%;
  }

  .bg-member-banner {
    position: relative;
    width: 100%;
    height: 1520px;
    background: #ebebeb;
  }

}

/*iPad Pro 12.9*/

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

  #loginmodal .modal-dialog {
    width: 70%;
  }

  .bg-member-banner {
    position: relative;
    width: 100%;
    height: 1780px !important;
    background: #ebebeb;
  }
}

/*260822 new code*/
/*adjust tag line in same as logo*/
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .phone-adjust-tagline {
    /*
		padding-left: 16px !important;
		padding-right: 16px !important;
*/
  }


}

/* end iPhone X*/

/*iphone XR*/
/* 1792x828px at 326ppi */
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
  .phone-adjust-tagline {
    /*
		padding-left: 1px !important;
		padding-right: 1px !important;
*/
  }

}

/* end iPhone XR*/